
services:
  # fluvio cluster sc
  sc:
    build:
      context: ./fluvio-cluster
      dockerfile: Dockerfile
    ports:
      - "9103:9003"
    environment:
      - RUST_LOG=info
    command: "fluvio-run sc --local /fluvio/metadata"
    # command: "tail -f /dev/null"
    volumes:
      - fluvio-metadata:/fluvio/metadata

  spu:
    build:
      context: ./fluvio-cluster
      dockerfile: Dockerfile
    volumes:
      - fluvio-data:/fluvio/data
    environment:
      - RUST_LOG=info
    ports:
      - "9110:9010"
      - "9111:9011"
    command: "fluvio-run spu -i 5001 -p spu:9010 -v spu:9011 --sc-addr sc:9004 --log-base-dir /fluvio/data"
    depends_on:
      - sc

  sc-setup:
    build:
      context: ./fluvio-cluster
      dockerfile: Dockerfile
    environment:
      - RUST_LOG=info
    entrypoint: >
      /bin/sh -c "
      fluvio profile add docker sc:9003 docker;
      fluvio cluster spu register --id 5001 --public-server 0.0.0.0:9110 --public-server-local spu:9010 --private-server spu:9011;
      exit 0;
      "
    depends_on:
      - sc

  cluster-setup:
    build:
      context: ./data-generator/fluvio-client
    network_mode: host
    entrypoint: >
      /bin/sh -c "
        fluvio profile add docker 127.0.0.1:9103 docker &&
        fluvio topic create player-events &&
        fluvio topic create purchase-events &&
        fluvio topic create player-positions &&
        fluvio topic create server-metrics &&
        exit 0;
      "
    depends_on:
      - sc-setup

  data-generator-fluvio-client:
    build:
      context: ./data-generator/fluvio-client
    network_mode: host
    depends_on:
      - cluster-setup
    environment:
      FLUVIO_TOPIC: player-events
    # command: sh -c "/app/run-retry.sh"

  # data-generator-web-api:
  #   build:
  #     context: ./data-generator/web-api
  #   depends_on:
  #     - fluvio
  #   ports:
  #     - "8000:8000"  # Expose the API server
  #   environment:
  #     FLUVIO_TOPIC: player-events

  # connectors:
  #   build:
  #     context: ./connectors
  #   depends_on:
  #     - data-generator-web-api
  #     - fluvio
  #   environment:
  #     HTTP_ENDPOINT: http://data-generator-web-api:8000/player_event
  #     GRAPHITE_ENDPOINT: http://graphite:2003

  sdf:
    build:
      context: ./sdf
    depends_on:
      - cluster-setup
    network_mode: host
    environment:
      SDF_CONFIG: /sdf/sdf_config.yaml
    command: >
      sh -c "
        while true; do \
          echo \"Adding fluvio profile\"; \
          fluvio profile add docker 127.0.0.1:9103 docker; \
          fluvio profile list; \
          bash run.sh; \
          sleep 10; \
        done
      "

  viz2:
    build:
      context: ./viz2
      dockerfile: docker/Dockerfile
    network_mode: host
    volumes:
      - ./viz2/static:/app/static
    command: >
      sh -c "
        while true; do \
          echo \"Adding fluvio profile\"; \
          fluvio profile add docker 127.0.0.1:9103 docker; \
          fluvio profile list; \
          /app/viz2; \
          sleep 10; \
        done
      "

  # visualization:
  #   build:
  #     context: ./visualization
  #   depends_on:
  #     - sdf
  #     - connectors
  #   ports:
  #     - "8000:8000"
  #   environment:
  #     DATA_SOURCE: http://sdf:9003

volumes:
  fluvio-data:
  fluvio-metadata:
  sdf-data:
